.header {
  z-index: 201;
}
.catalog__wrapper__header {
  padding: 80px 0 20px;
}

.catalog__menu {
}
@media screen and (max-width: 1000px) {
  .catalog .grid-col_75 {
    overflow-y: auto;
    flex: 1 1 auto;
  }
  .catalog__menu {
    margin-bottom: 15px;
  }
  .grid-col_tablet100 {
    padding-top: 15px;
  }
}
